__pycache__/
back_up/
der_models/
extra_analysis/
old_code/
references/
2_der_droop_grid/
2_der_pi_grid/
2_der_nash_grid/
3_der_droop_grid/
3_der_pi_grid/
3_der_nash_grid/
6_der_droop_grid/
6_der_pi_grid/
6_der_nash_grid/
10_der_droop_grid/
10_der_pi_grid/
10_der_nash_grid/
10_der_pi_model/
slprj/
system_identification/
.DS_Store